body {
    margin: 0;
    background-color: gray;
}

/* header */

.logo {
    background-color: white;
    padding: 1em;
    margin-bottom: 40px;
}

.logo_img {
    width: 50px;
    vertical-align: middle;
}

.logo_title {
    font-size: 2rem;
    vertical-align: middle;
    font-weight: bold;
}

/* header */

/* head container */
.head_container {
    width: 80%;
    max-width: 600px;
    margin: 2px auto;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
}

.add_task {
    background-color: cyan;
    padding: 0.5rem;
    border: 1px solid cyan;
    border-radius: 10px;
    color: white;
    margin: 0.5em;
}

.add_section {
    background-color: white;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    color: grey;
    margin: 0.5em;
}

/* head container */


/* main container */

.main_container {
    width: 80%;
    max-width: 600px;
    margin: 2px auto;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
}

/* main container */

.main_container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
}

table {
    border-spacing: 1rem;
}

.task {
    margin-bottom: 2rem;
}

.today {
    margin-bottom: 2rem;
}

.upcoming {
    margin-bottom: 2rem;
}


/* caselle colorate */
.editorial {
    background-color: cyan;
    padding: 0.5rem;
    border: 1px solid cyan;
    border-radius: 10px;
    color: white;
    margin: 0.5em;
}